<div class="container">
  <!-- Row 1 -->
  <div class="row">
    <div class="col">
      <div
        class="card text-center text-white border-0 m-3"
        style="width: 24rem"
      >
        <div class="card-body" style="background-color: #333333">
          <h5 class="card-title">Escape the Wizard's Lair!</h5>
          <p class="card-text">Console-based text adventure game</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-center text-white border-0 m-3"
        style="width: 24rem"
      >
        <div class="card-body" style="background-color: #333333">
          <h5 class="card-title">Humans vs Goblins</h5>
          <p class="card-text">2D RPG made with Java GUI</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card text-center text-white border-0 m-3"
        style="width: 24rem"
      >
        <div class="card-body" style="background-color: #333333">
          <h5 class="card-title">Library Management System</h5>
          <p class="card-text">
            Console application for managing a library's inventory and checkouts
            using a MySQL database
          </p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row">
    <div class="col">
      <div
        class="card text-center text-white border-0 m-3"
        style="width: 24rem"
      >
        <div class="card-body" style="background-color: #333333">
          <h5 class="card-title">Secure Blog API Service</h5>
          <p class="card-text">
            Spring Boot backend with Spring Security. Serves a blog API service
            that utilizes role-based authorization for each endpoint
          </p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
